* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


h3, h4, button, input, select, label {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 26px;
  text-align: center;
}

h3 {
  margin: 0 10px;
}

h5 {
  font-size: .8rem;
  margin: 5px;
}

form {
  margin: 10px;
}

.fa-lock-open, .fa-lock {
  cursor: pointer;
  font-size: 1.5rem;
}

.fa-lock-open {
  margin-left: 6px;
}

.fa-trash-alt {
  cursor: pointer;
  font-size: .9rem;
  margin-left: 5px;
}

hr {
  width: 90%
}

.color {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
  padding: 18px;
}

.palette {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  width: 100vw;
}

.forms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.saved-palette {
  align-items: center;
  display: flex;
}

.hex-box {
  border-radius: 10px;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.generate-colors {
  border-radius: 38px;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  padding: 13px 15px;
}
