* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 40px;
}

i {
  font-size: 1.5rem;
}

.color {
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  flex: 1;
}

.palette {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}